table{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table td{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
table td:first-child{
    font-weight: 600;
}
form{
    margin-top: 10px;
    width: 150px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}